@import "colors";

body {
  font-family: 'Work Sans', sans-serif;
  margin-top: 50px;
  background-color: #F8F8FF;
}

.row {
  margin-top: 2em;
  margin-bottom: 2em;
}

footer {
  background-color: lighten($blue, 10%);
  color: white;
  padding-top: 15px;
  padding-bottom: 5px;
}
