@import "colors";

.navbar-inverse {
  background-color: $blue;
  border-bottom: none;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  color: white;
}

.navbar-inverse .navbar-brand,
  .navbar-inverse .navbar-collapse .navbar-nav li a {
  color: white;
}

.navbar-inverse .navbar-collapse .navbar-nav li a:hover {
  text-decoration: underline;
}
.navbar-inverse .navbar-collapse .navbar-nav li a:focus {
  background-color: darken($blue, 10%);
}
.navbar-inverse .navbar-collapse .navbar-nav .dropdown-menu li a:hover {
  background-color: $blue;
}

.dropdown-menu {
  background-color: lighten($blue, 5%);
  border: none;
  border-radius: 0;
}

.navbar-inverse  .navbar-nav > .active {
  a {
    background-color: darken($blue, 5%);
  }
  a:hover {
    background-color: darken($blue, 7%);
  }
}
