/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require daterangepicker
 *= require fullcalendar
 */

@import "bootstrap-sprockets";
@import "bootstrap";

$navblue: #203248;

body {
  font-family: 'Pavanam', sans-serif;
  margin-top: 50px;
}

.navbar-inverse {
  background-color: $navblue;
  border-bottom:none;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  color: white;
}

.navbar-inverse .navbar-brand,
  .navbar-inverse .navbar-collapse .navbar-nav li a {
  color: white;
}

.navbar-inverse .navbar-collapse .navbar-nav li a:hover {
  text-decoration: underline;
}

.row {
  margin: 2em 0;
}

footer {
  margin-top: 10em;
  background-color: lighten($navblue, 15%);
  color: white;
  padding-top: 15px;
  padding-bottom: 5px;
}
