@import "shared/colors";
@import "shared/constants";

.calendar {
  margin-top: 4em;
  margin-bottom: 4em;
}

.form-control {
  margin-bottom: 10px;
}

#delete-button {
  float: right;
  color: white;
}

.fc-clear {
  height: 1em;
}

.fc-head-container {
  background-color: lighten($blue, 10%);
  color: white;
  font-size: 12pt;

  .fc-widget-header {
    font-weight: lighter;
  }
}

.fc-bg {
  background-color: $grey;
}

.fc-today {
  background-color: darken($grey, 5%) !important;
}

#img-banners {
  display: flex;
  height: $banner-height;
  width: 100%;

  #jazz5 {
    order: 1;
    width: 50%;
    height: 100%;
    background-image: asset_url('jazz5.jpeg');
    background-size: cover;
    background-position: center;
  }

  #jazz6 {
    order: 2;
    width: 50%;
    height: 100%;
    background-image: asset_url('jazz3.jpeg');
    background-size: cover;
    background-position: center;
  }
}

@media (max-width: 768px) {
  #img-banners {
    #jazz5 {
      width: 100%;
    }
    #jazz6 {
      display: none;
      width: 0%;
    }
  }
}

.fc-time-grid-event {
  background-color: rgba(255,255,255,0.7) !important;
  border-radius: 0;
  color: $dark-grey;
  margin-left: -3px;
  margin-right: -4px;
  margin-bottom: -1px;
  padding-left: 13px;

  .fc-title {
    color: $med-grey;
  }

  .fc-time {
    color: $med-grey;
  }
}

.fc-time-grid-event:after {
  background-color: lighten($blue, 10%);
  position: absolute;
  content: "";
  width: 10px;
  left: 0;
  top: 0;
  bottom: 0;
}
