// Place all the styles related to the calendar controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.calendar {
  margin-top: 4em;
}

.form-control {
  margin-bottom: 10px;
}

#delete-button {
  float: right;
  color: white;
}
