@import "shared/colors";
@import "shared/constants";

#banner {
  height: $banner-height;
  background-size: cover;
  background-position: center;
  background-image: asset_url("drums.jpg");
  display: flex;
  flex-direction: column;
  justify-content: center;
}

i {
  font-size: 120%;
}

@media (max-width: 768px) {
  i {
    margin-top: 1.5em;
  }
}

#title {
  font-size: 34pt;
  margin-bottom: 1em;
}

.section-header {
  margin-top: 40px;
}

.callouts {
  font-size: 24pt;
  font-weight: bolder;
  margin-top: 2em;
  margin-bottom: 1em;
}


.larger {
  font-size: 20pt;
  margin: 1em 0;
  margin-top: -4px;
  margin-right: 14px;
  font-style: italic;
}

#img-banners-1 {
  display: flex;
  height: $banner-height;
  width: 100%;

  #jazz1 {
    order: 1;
    width: 40%;
    height: 100%;
    background-image: asset_url('jazz1.jpeg');
    background-size: cover;
    background-position: center;
  }

  #jazz2 {
    order: 2;
    width: 60%;
    height: 100%;
    background-image: asset_url('jazz2.jpeg');
    background-size: cover;
    background-position: center;
  }
}


#img-banners-2 {
  display: flex;
  height: $banner-height;
  width: 100%;

  #jazz3 {
    order: 1;
    width: 60%;
    height: 100%;
    background-image: asset_url('jazz3.jpeg');
    background-size: cover;
    background-position: center;
  }

  #jazz4 {
    order: 2;
    width: 40%;
    height: 100%;
    background-image: asset_url('jazz4.jpeg');
    background-size: cover;
    background-position: center;
  }
}

@media (max-width: 768px) {
  #img-banners-1 {
    #jazz1 {
      width: 100%;
    }
    #jazz2 {
      display: none;
      width: 0%;
    }
  }

  #img-banners-2 {
    #jazz3 {
      display: none;
      width: 0%;
    }
    #jazz4 {
      width: 100%;
    }
  }
}

.callout-icon {
  margin-top: 3em;
  margin-bottom: 0;
}

.callout-icon:before {
  color: white;
  font-size: 160%;
  background-color: $blue;
  padding: 9px 12px;
  border-radius: 50%;
}

footer {
  background-color: lighten($blue, 10%);
  color: white;
}
